@media screen and (max-width: 539px) and (min-width: 280px) {

  .conteudo-principal-div {
    width: 95%;
    height: auto;
    margin-top: 5%;
    background-position-x: center;
  }
  .texto-conteudo-principal-div {
    text-align: center;
  }
  .texto-conteudo-principal-div h1 {
    font-size: 6vh;
  }
  .texto-conteudo-principal-div p {
    font-size: 3.5vh;
  }  
  .lista-opcoes {
    height: auto;
    flex-wrap: wrap;
  }
  
}
  
