body {
  background-color: black;
  margin: 0;
}
.conteudo-principal-div {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  height: 80vh;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  background: transparent url(../imagens/img-hercules-introducao.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 7px solid rgb(0, 0, 0);
  border-radius: 25px;
  box-shadow: 0px 0px 150px rgba(255, 0, 0, 0.788)
}
.sombra-imagem {
  width: 100%;
  height: 100%;
  background-color:  rgba(223, 213, 213, 0.623);
  border-radius: 15px;
}
.texto-conteudo-principal-div h1  {
  margin-top: 3%;
  text-align: center;
}
.texto-conteudo-principal-div h1, .paragrafo-contexto {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  font-size: 2vw;
  text-align: justify;
}
.texto-conteudo-principal-div .paragrafo-contexto {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  font-size: 2vw;
  text-align: justify;
}
.texto-conteudo-principal-div .paragrafo-tomar-decisao {
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  font-size: 2vw;
  text-align: justify;
}
.botoes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 23.95%;
}
.botao-voltar {
  width: 100%;
  line-height: 250%;
  border: none;
  border-bottom-right-radius: 400px;
  border-top-left-radius: 400px;
  text-transform: uppercase;
  cursor: pointer;
}
.botao-decisao {
  width: 100%;
  line-height: 250%;
  border: none;
  border-bottom-right-radius: 400px;
  border-top-left-radius: 400px;
  text-transform: uppercase;
  cursor: pointer;
}
.link-botao:first-child {
  width: 20%;
  margin-left: 3%;
}
.link-botao:last-child {
  width: 20%;
  margin-right: 3%;
}
.botao-estilo {
  background-color:white;
  box-shadow: 0 5px 0 #8f8f8f;
}
.botao-estilo:hover {
  background-color: #8f8f8f;
  box-shadow: 0 5px 0 #7e7e7e;
}
.botao-estilo:active {
  position: relative;
  top: 4px;
  box-shadow: none;
}

