body {
  background-color: black;
  margin: 0;
}
.conteudo-principal-div {
  display: flex;
  width: 65%;
  height: 80vh;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
  background: transparent url(/imagem-index/imagem-index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 7px solid black;
  border-radius: 25px;
  box-shadow: 0px 0px 500px rgba(5, 155, 255, 0.911);
}
.sombra-imagem {
  width: 100%;
  height: 100%;
  background-color: rgba(223, 213, 213, 0.603);
  border-radius: 15px;
}
.texto-conteudo-principal-div h1  {
  margin-top: 3%;
  font-size: 250%;
  text-align: center;
}
.paragrafo-contexto {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 2.5vw;
  text-align: justify;
  line-height: 130%;
}
.texto-conteudo-principal-div p {
  margin-left: 10%;
  margin-right: 10%;
}
.botoes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 12.4%;
}
.botao-voltar {
  width: 100%;
  line-height: 250%;
  border: none;
  border-bottom-right-radius: 400px;
  border-top-left-radius: 400px;
  text-transform: uppercase;
  cursor: pointer;
}
.botao-decisao {
  width: 100%;
  line-height: 250%;
  border: none;
  border-bottom-right-radius: 400px;
  border-top-left-radius: 400px;
  text-transform: uppercase;
  cursor: pointer;
}
.link-botao:first-child {
  width: 20%;
  margin-left: 3%;
}
.link-botao:last-child {
  width: 20%;
  margin-right: 3%;
}
.botao-estilo {
  background-color:white;
  box-shadow: 0 5px 0 #8f8f8f;
}
.botao-estilo:hover {
  background-color: #8f8f8f;
  box-shadow: 0 5px 0 #7e7e7e;
}
.botao-estilo:active {
  position: relative;
  top: 4px;
  box-shadow: none;
}

  
